name: Automatically sync Infix
on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'
permissions:
  contents: write
jobs:
  check_changes:
    runs-on: [ self-hosted, latest ]
    if: ${{ vars.SYNC_INFIX }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.COMMIT_TOKEN }}
          fetch-depth: 0
          clean: true
          submodules: recursive
      - name: Check for updates and commit if needed
        id: check_changes
        run: |
          git config --global user.name 'Wires bot'
          git config --global user.email 'noreply@wires.se'
          CHANGES=0
          if [ -z  "$(git branch | grep latest-infix)" ]; then
            if [ -n "$(git branch -r | grep latest-infix)" ]; then
              git checkout latest-infix
            else
              git checkout -b latest-infix
            fi
          else
            git checkout latest-infix
            if [ -n "$(git branch -r | grep latest-infix)" ]; then
              git reset --hard origin/latest-infix
            fi
          fi
          if [[ -n "$(git diff --exit-code origin/main)" ]]; then
            echo "New commits exist on main"
            git merge origin/main
            CHANGES=1
          fi

          cd infix
          git clean -ffdx
          git checkout main
          git reset --hard origin/main
          cd ..

          if [[ -n "$(git diff --exit-code infix)" ]]; then
            git add infix
            git commit infix -m "Bump Infix"
            CHANGES=1
          fi

          make defconfigs-generate
          if [[ -n "$(git diff --exit-code configs)" ]]; then
            git add configs
            git commit configs/ -m "Update defconfigs"
            CHANGES=1
          fi

          if [ $CHANGES -eq 1 ]; then
            git push origin latest-infix
          fi
